<div class= "grid grid-col-2-3">
    <div class = "card grid grid-col-6">
        <button *ngFor="let number of numbers" (click)="[selectNumber(number), selected(number), checkFull()]" [ngClass]="{'selected' : selected(number)===true}"
                class="box-number">
            {{number}}
        </button>
        <span (click)="[goToCheckout()]" class="btn btn-action">CASH</span>
        <span (click)="[clear()]" class="btn btn-action">CLEAR</span>    
    </div>

    <div>
        <app-selected-numbers [myNumbers]="selectedNumbers" [finalAmount]="finalAmount"></app-selected-numbers>
    </div>
    
    <span class="hide" [ngClass]="{'display error bold' : isError===true}">
        {{errorMessage}}
    </span>
</div>


<!--code for checkout modal-->
<jw-modal id="checkout-modal">
    <div id="checkout-container" class="grid grid-col-2-3 center">
        <h2 class="modal-header bold">Cash</h2>
    
        <div class="checkout-inner-container grid grid-col-2-2">    
            <h3 class="modal-title white text-left-alligned">Enter Amount Received</h3>
            <label class="text-left-alligned white">Total</label>
            <span class="text-left-alligned white">$ {{finalAmount.toFixed(2)}}</span>

            <label class="text-left-alligned white">Received</label>
            <span class="white calc-totals">$ {{amountReceived.toFixed(2)}}</span>

            <label class="text-left-alligned white">Change</label>
            <span class="white calc-totals">$ {{change.toFixed(2)}}</span>

            <button (click)="generateTicket()" class="btn btn-modal center bold">Confirm</button>
            <button (click)="closeModal('checkout-modal')" class="btn btn-modal center bold">Close</button>
        </div>

        <div class="numpad-container center grid grid-col-3">
            <button *ngFor="let padNumber of padNumbers" (click)="received(padNumber)" class="checkout-numpad">{{padNumber}}</button>
            <button id="btn-clear" (click)="clearReceivedAmount()" class="checkout-numpad white">Cl</button>
        </div>

        <span class="hide" [ngClass]="{'display error span-2 bold center' : isError===true}">
            {{modalErrorMessage}}
        </span>
    </div>

</jw-modal>

<!--code for ticket modal-->
<jw-modal id="receipt-modal">
    <div id="receipt-modal-container">
        <h2 class="text-left-alligned">Your lucky ticket summary:</h2>
        <p class="text-left-alligned">-------------------------------------------------</p>
        <h4 class="text-left-alligned">Your selected numbers: </h4>
        <p class="text-left-alligned">-------------------------------------------------</p>
        <div class="selected-numbers text-left-alligned">
            <span *ngFor="let selectedNumber of selectedNumbers; let lastcall=last">
                {{selectedNumber}} 
                <span *ngIf="!lastcall">,</span>
            </span>
        </div>
        <p class="text-left-alligned">-------------------------------------------------</p>
        <h4 class="text-left-alligned">Transaction summary: </h4>
        <p class="text-left-alligned">-------------------------------------------------</p>
        <p class="text-left-alligned">Amount bet: $ {{finalAmount.toFixed(2)}}</p>
        <p class="text-left-alligned">Your payment: $ {{amountReceived.toFixed(2)}}</p>
        <p class="text-left-alligned">Your change: $ {{change.toFixed(2)}}</p>
        <p class="text-left-alligned">-------------------------------------------------</p>
        <p class="text-left-alligned receipt-footer bold">----------------- WEB 422 -----------------</p>
    </div>
</jw-modal>
