.cash-container
{
    height: auto;
    width: 70%;
}

.btn-cash
{
    background-color: rgba(19,39,99,255);
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.864);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    font-size: 2rem;
}

.btn-cash:active
{
    background-color: rgba(8, 60, 191, 0.911);
    color: rgba(25, 25, 25, 0.707);
}